<form class="form-signin">
  <div class="text-center mb-4 mt-4">
    <img class="mb-4" src="./assets/logo_moph.png" alt="" width="100" height="100">
    <h1 class="h3 mb-3 font-weight-normal">ระบบงานระบาด (สสจ.)</h1>

  </div>

  <div class="form-label-group">
    <input type="email" [(ngModel)]="username" name="txtusername" id="txtusername" class="form-control"
      placeholder="Email address" required autofocus>
    <label for="txtusername">ชื่อผู้ใช้งาน</label>
  </div>

  <div class="form-label-group">
    <input type="password" [(ngModel)]="password" name="txtpassword" id="txtpassword" class="form-control"
      placeholder="Password" required>
    <label for="txtpassword">รหัสผ่าน</label>
  </div>

  <!-- <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div> -->
  <button class="btn btn-lg btn-primary btn-block" (click)="doLogin()" type="button">เข้าระบบ</button>
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2019</p>
</form>
