<h4>รายชื่อผู้ป่วยที่ยืนยันการส่งออก</h4>

<form class="form-inline mb-3">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="ระบุคำค้นหา..." name="query" (keyup)="doSearch($event)"
        [(ngModel)]="query">
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="getHistory()" type="button">
          <i class="mdi mdi-magnify"></i>
        </button>
      </div>
    </div>
  </div>
</form>

<div class="table-responsive">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>HN</th>
        <th>เลขบัตรประชาชน</th>
        <th>ชื่อ - สกุล</th>
        <th>ที่อยู่</th>
        <th>วันที่ป่วย</th>
        <th>วันที่รายงาน</th>
        <th>วินิจฉัย</th>
        <th>ยืนยัน</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="items.length === 0">
        <td colspan="8" class="text-muted text-center">ไม่พบรายการ</td>
      </tr>
      <tr *ngFor="let item of items">
        <td>{{item.hn}}</td>
        <td>{{item.cid}}</td>
        <td>{{item.pt_name}}</td>
        <td>{{item.address}}</td>
        <td>{{item.begin_date | thaiDate}}</td>
        <td>{{item.report_date | thaiDate}}</td>
        <td>{{item.pdx}} - {{item.icd_name}}</td>
        <td class="text-center">
          <button *ngIf="item.send_log === 0" class="btn btn-sm btn-primary" (click)="sendData(item)">
            <i class="mdi mdi-send"></i>
          </button>

          <span class="mdi mdi-check text-success" *ngIf="item.send_log > 0"></span>
        </td>
      </tr>
    </tbody>
  </table>

  <nav *ngIf="items.length === 0" aria-label="Page navigation" class="mt-3 d-flex justify-content-center">
    <ngb-pagination class="text-center" (pageChange)="onPageChange($event)" [collectionSize]="total"
      [pageSize]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
    </ngb-pagination>
  </nav>
</div>

<ngx-loading [show]="loading" [config]="{ 
  backdropBorderRadius: '3px' ,
  primaryColour: '#3b7ddd', 
  secondaryColour: '#3b7ddd', 
  tertiaryColour: '#3b7ddd'
}">
