<div class="row">
  <div class="col-md-6">
    <button class="btn btn-primary" routerLink="/apps/patient">
      <i class="mdi mdi-arrow-left"></i> ย้อนกลับ
    </button>
  </div>
  <div class="col-md-6">
    <button (click)="openConfirm()" class="btn btn-success float-right">
      <i class="mdi mdi-send"></i> ส่งข้อมูล
    </button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-3">
    <div class="card" style="width: 100%;">
      <img [src]="imgSrc" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col-md-9">

    <ngb-tabset>
      <ngb-tab>
        <ng-template ngbTabTitle>ข้อมูลทั่วไป</ng-template>
        <ng-template ngbTabContent>
          <div class="mt-3">
            <table class="table">
              <tbody>
                <tr>
                  <th>HN</th>
                  <td>{{hn}}</td>
                  <th>เลขบัตรปรชาชน</th>
                  <td>{{cid}}</td>
                </tr>
                <tr>
                  <th>ชื่อ-สกุล</th>
                  <td>{{ptName}}</td>
                  <th>เพศ</th>
                  <td>{{sex}}</td>
                </tr>
                <tr>
                  <th>วันเกิด</th>
                  <td>{{birthdate | thaiDate}}</td>
                  <th>อายุ</th>
                  <td>{{age}} ปี</td>
                </tr>
                <tr>
                  <th>ที่อยู่ภูมิลำเนา</th>
                  <td colspan="3">{{address}}</td>
                </tr>
                <tr>
                  <th>ที่อยู่ขณะป่วย</th>
                  <td colspan="3">{{illAddress}}</td>
                </tr>
                <tr>
                  <th>อาชีพ</th>
                  <td colspan="3">{{occupation}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>ผลตรวจทางห้องปฏิบัติการ</ng-template>
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-md-6">
              <h5 class="mt-3">รายการผลตรวจทางห้องปฏิบัติการ</h5>
            </div>
            <div class="col-md-6">
              <button class="btn btn-success float-right mb-3 mt-3" (click)="open()">
                <i class="mdi mdi-plus"></i>
              </button>
            </div>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>รายการ</th>
                <th>ผล</th>
                <th>หน่วย</th>
                <th>ค่ามาตรฐาน</th>
                <th>วันที่ตรวจ</th>
                <th>#</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of labsForSend">
                <td>{{item.lab_items_name_ref}}</td>
                <td>{{item.lab_order_result}}</td>
                <td>{{item.lab_items_unit}}</td>
                <td>{{item.lab_items_normal_value}}</td>
                <td>{{item.order_date | thaiDate}} {{item.order_time | shortTime}}</td>
                <td>
                  <button (click)="removeItem(item)" class="btn btn-sm btn-danger"><i
                      class="mdi mdi-close-circle"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>รายละเอียดเพิ่มเติม</ng-template>
        <ng-template ngbTabContent>
          <div class="mt-3">
            <h5>ในกรณีเป็นนักเรียน</h5>
            <form action="#">
              <div class="form-group row">
                <label for="txtClass" class="col-sm-2 col-form-label">ระดับชั้น</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="txtClass" placeholder="ชั้น">
                </div>
                <label for="txtClass" class="col-sm-2 col-form-label">ชื่อโรงเรียน</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="txtClass" placeholder="ชื่อโรงเรียน">
                </div>
              </div>
              <h5>ที่ตั้งโรงเรียน</h5>
              <div class="form-group row">
                <label for="txtClass" class="col-md-2 col-form-label">จังหวัด</label>
                <div class="col-md-3">
                  <select class="form-control" (change)="getAmp()" [(ngModel)]="chwCode" name="chwCode">
                    <option>*</option>
                    <option *ngFor="let item of chwItems" [value]="item.chwpart">{{item.name}}</option>
                  </select>
                </div>

                <label for="txtClass" class="col-md-2 col-form-label">อำเภอ</label>
                <div class="col-md-3">
                  <select class="form-control" [(ngModel)]="ampCode" (change)="getTmb()" name="ampCode">
                    <option>*</option>
                    <option *ngFor="let item of ampItems" [value]="item.amppart">{{item.name}}</option>
                  </select>
                </div>

              </div>
              <div class="form-group row">
                <label for="txtClass" class="col-md-2 col-form-label">ตำบล</label>
                <div class="col-md-3">
                  <select class="form-control" [(ngModel)]="tmbCode" name="tmbCode">
                    <option>*</option>
                    <option *ngFor="let item of tmbItems" [value]="item.tmbpart">{{item.name}}</option>

                  </select>
                </div>

                <label for="txtClass" class="col-md-2 col-form-label">หมู่</label>
                <div class="col-md-3">
                  <select class="form-control" name="mooCode" [(ngModel)]="mooCode">
                    <option>*</option>
                    <option *ngFor="let item of mooItems" [value]="item">{{item}}</option>

                  </select>
                </div>

              </div>
            </form>
            <hr>
            <h5>การตรวจวินิจฉัย/รักษาพยาบาล</h5>
            <div class="alert alert-warning" role="alert">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="chkConfirm" name="chkConfirm" id="chkConfirm"
                  value="DF" checked>
                <label class="form-check-label" for="chkConfirm">
                  ไข้เด็งกี่(DF)
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="chkConfirm" type="radio" name="chkConfirm" id="chkConfirm1"
                  value="DHF">
                <label class="form-check-label" for="chkConfirm1">
                  ไข้เลือดออก(DHF)
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="chkConfirm" type="radio" name="chkConfirm" id="chkConfirm2"
                  value="DSS">
                <label class="form-check-label" for="chkConfirm2">
                  ไข้เลือดออกช็อก(DSS)
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="chkConfirm" type="radio" name="chkConfirm" id="chkConfirm3"
                  value="RO">
                <label class="form-check-label" for="chkConfirm3">
                  R/O DF
                </label>
              </div>
            </div>

            <h5>อาการและอาการแสดง</h5>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <th>ไข้/ไข้สูงเฉียบพลัน</th>
                  <td>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" [(ngModel)]="chk1" name="chk1" id="chk1" value="1"
                        checked>
                      <label class="form-check-label" for="chk1">
                        มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk1" type="radio" name="chk1" id="chk1" value="2"
                        checked>
                      <label class="form-check-label" for="chk1">
                        ไม่มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk1" type="radio" name="chk1" id="chk1" value="9"
                        checked>
                      <label class="form-check-label" for="chk1">
                        ไม่ทราบ
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>ปวดศีรษะ</th>
                  <td>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" [(ngModel)]="chk2" name="chk2" id="chk2" value="1"
                        checked>
                      <label class="form-check-label" for="chk2">
                        มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk2" type="radio" name="chk2" id="chk2" value="2"
                        checked>
                      <label class="form-check-label" for="chk2">
                        ไม่มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk2" type="radio" name="chk2" id="chk2" value="9"
                        checked>
                      <label class="form-check-label" for="chk2">
                        ไม่ทราบ
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>ปวดกระบอกตา</th>
                  <td>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" [(ngModel)]="chk3" name="chk3" id="chk3" value="1"
                        checked>
                      <label class="form-check-label" for="chk3">
                        มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk3" type="radio" name="chk3" id="chk3" value="2"
                        checked>
                      <label class="form-check-label" for="chk3">
                        ไม่มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk3" type="radio" name="chk3" id="chk3" value="9"
                        checked>
                      <label class="form-check-label" for="chk3">
                        ไม่ทราบ
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>ปวดกล้ามเนื้อ</th>
                  <td>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" [(ngModel)]="chk4" name="chk4" id="chk4" value="1"
                        checked>
                      <label class="form-check-label" for="chk4">
                        มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk4" type="radio" name="chk4" id="chk4" value="2"
                        checked>
                      <label class="form-check-label" for="chk4">
                        ไม่มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk4" type="radio" name="chk4" id="chk4" value="9"
                        checked>
                      <label class="form-check-label" for="chk4">
                        ไม่ทราบ
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>ปวดกระดูกหรือข้อต่อ</th>
                  <td>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" [(ngModel)]="chk5" name="chk5" id="chk5" value="1"
                        checked>
                      <label class="form-check-label" for="chk5">
                        มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk5" type="radio" name="chk5" id="chk5" value="2"
                        checked>
                      <label class="form-check-label" for="chk5">
                        ไม่มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk5" type="radio" name="chk5" id="chk5" value="9"
                        checked>
                      <label class="form-check-label" for="chk5">
                        ไม่ทราบ
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>ผื่นแดง</th>
                  <td>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" [(ngModel)]="chk6" name="chk6" id="chk6" value="1"
                        checked>
                      <label class="form-check-label" for="chk6">
                        มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk6" type="radio" name="chk6" id="chk6" value="2"
                        checked>
                      <label class="form-check-label" for="chk6">
                        ไม่มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk6" type="radio" name="chk6" id="chk6" value="9"
                        checked>
                      <label class="form-check-label" for="chk6">
                        ไม่ทราบ
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>มีอาการเลือดออกตามผิวหนัง</th>
                  <td>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" [(ngModel)]="chk7" name="chk7" id="chk7" value="1"
                        checked>
                      <label class="form-check-label" for="chk7">
                        มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk7" type="radio" name="chk7" id="chk7" value="2"
                        checked>
                      <label class="form-check-label" for="chk7">
                        ไม่มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk7" type="radio" name="chk7" id="chk7" value="9"
                        checked>
                      <label class="form-check-label" for="chk7">
                        ไม่ทราบ
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>ตับโตมักกดเจ็บ</th>
                  <td>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" [(ngModel)]="chk8" name="chk8" id="chk8" value="1"
                        checked>
                      <label class="form-check-label" for="chk8">
                        มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk8" type="radio" name="chk8" id="chk8" value="2"
                        checked>
                      <label class="form-check-label" for="chk8">
                        ไม่มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk8" type="radio" name="chk8" id="chk8" value="9"
                        checked>
                      <label class="form-check-label" for="chk8">
                        ไม่ทราบ
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>มีภาวะช็อก</th>
                  <td>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" [(ngModel)]="chk9" name="chk9" id="chk9" value="1"
                        checked>
                      <label class="form-check-label" for="chk9">
                        มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk9" type="radio" name="chk9" id="chk9" value="2"
                        checked>
                      <label class="form-check-label" for="chk9">
                        ไม่มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk9" type="radio" name="chk9" id="chk9" value="9"
                        checked>
                      <label class="form-check-label" for="chk9">
                        ไม่ทราบ
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>Tourniquet test</th>
                  <td>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" [(ngModel)]="chk10" name="chk10" id="chk10" value="1"
                        checked>
                      <label class="form-check-label" for="chk10">
                        มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk10" type="radio" name="chk10" id="chk10" value="2"
                        checked>
                      <label class="form-check-label" for="chk10">
                        ไม่มี
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" [(ngModel)]="chk10" type="radio" name="chk10" id="chk10" value="9"
                        checked>
                      <label class="form-check-label" for="chk10">
                        ไม่ทราบ
                      </label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </ng-template>
      </ngb-tab>

    </ngb-tabset>
  </div>
</div>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ผลตรวจทางห้องปฏิบัติการ</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-3">
        <div class="list-group" id="list-tab" role="tablist">
          <li class="list-group-item active">รายการสั่ง LAB</li>

          <a *ngFor="let item of orders" [ngClass]="{'active': item.lab_order_number == currentOrderNumber}"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            id="list-home-list" data-toggle="list" href="javascript://" role="tab" aria-controls="home"
            (click)="getResults(item)">
            {{item.order_date}} {{item.order_time}} น.
            <i class="mdi mdi-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            รายการผลตรวจ
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>รายการ</th>
                  <th>ผล</th>
                  <th>หน่วย</th>
                  <th>ค่ามาตรฐาน</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="items.length == 0">
                  <td colspan="5" class="text-muted">ไม่พบรายการ</td>
                </tr>
                <tr *ngFor="let item of items">
                  <td><input #chkItem [checked]="item.selected" (click)="setSelected(chkItem, item)" type="checkbox"
                      name="" id=""></td>
                  <td>{{item.lab_items_name_ref}}</td>
                  <td>{{item.lab_order_result}}</td>
                  <td>{{item.lab_items_unit}}</td>
                  <td>{{item.lab_items_normal_value}}</td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-primary float-right" (click)="addLabItems()">+ เพิ่มรายการที่เลือก</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ปิด</button>
  </div>
</ng-template>

<ng-template #loginContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">เข้าสู่ระบบ (สสจ.)</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="txtUsername">ชื่อผู้ใช้งาน</label>
        <input type="text" class="form-control" name="txtUsername" [(ngModel)]="username" id="txtUsername"
          aria-describedby="username" placeholder="">
      </div>
      <div class="form-group">
        <label for="txtPassword">รหัสผ่าน</label>
        <input type="password" class="form-control" [(ngModel)]="password" id="txtPassword" name="txtPassword"
          placeholder="">
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!username || !password"
      (click)="confirmSend()">เข้าสู่ระบบ</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ปิด</button>
  </div>
</ng-template>
