<h4>รายชื่อผู้ป่วย</h4>

<form class="form-inline mb-3">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="ovstdate" ngbDatepicker
        #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-primary calendar" (click)="d.toggle()" type="button">
          <i class="mdi mdi-calendar"></i>
        </button>
      </div>
    </div>
  </div>

  <button class="btn btn-primary ml-3" (click)="searchVisit()">
    <i class="mdi mdi-magnify"></i>
  </button>
</form>

<div class="table-responsive">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>HN</th>
        <th>เลขบัตรประชาชน</th>
        <th>ชื่อ - สกุล</th>
        <th>ที่อยู่</th>
        <th>วันที่ป่วย</th>
        <th>วันที่รายงาน</th>
        <th>วินิจฉัย</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of visits">
        <td>{{item.hn}}</td>
        <td>{{item.cid}}</td>
        <td>{{item.pt_name}}</td>
        <td>{{item.address}}</td>
        <td>{{item.begin_date}}</td>
        <td>{{item.report_date}}</td>
        <td>{{item.pdx}} - {{item.icd_name}}</td>
        <td>
          <button [disabled]="item.is_send" class="btn btn-sm btn-primary" (click)="sendData(item)">
            <i class="mdi mdi-send"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<ngx-loading [show]="loading" [config]="{ 
  backdropBorderRadius: '3px' ,
  primaryColour: '#3b7ddd', 
  secondaryColour: '#3b7ddd', 
  tertiaryColour: '#3b7ddd'
}">
